@model gender.Models.ViewModels.LoginViewModel
@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход";
    
}


<div class='container'>
    <div class='row'>
        <div class='span6'>
            <h3 class='section-header'><i class="icon-user"></i>&nbsp;Вход</h3>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="Email">Email</label>
                        <div class="controls">
                            @Html.TextBox("Login", Model.Login, new { @class = "input-xlarge" })
                            @Html.ValidationMessage("Login")
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Password">Пароль</label>
                        <div class="controls">
                            @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                            @Html.ValidationMessage("Password")
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary" style="margin-right: 15px;">Вход</button>
                            @Html.ActionLink("Забыли пароль?", "ForgotPassword", "Login")
                            <p>
                            <br/>
                               <a class="btn" @*href="@Url.Action("Register", "User")"*@>Регистрация</a>
                            </p>
                        </div>
                        
                    </div>
                </fieldset>
            }
        </div>
         
        <div class="span6">
            <h3 class='section-header'><i class="icon-user"></i>&nbsp;Вход через социальные сети
            </h3>

            <p>Авторизуясь на портале Гендер.ру с помощью соцальных сетей,
             Вы тем самым подтверждаете свое согласие следовать <a href="/pages/rules">Правилам портала</a></p>
            <p>
                <a class="" href="@Url.Action("GoogleLogin", "OAuth")">
                    <img src="/Content/images/login/google.png" alt="Google" /></a>&nbsp;
                <a class="" href="@Url.Action("YandexLogin", "OAuth")">
                    <img src="/Content/images/login/yandex.png" alt="Яндекс" /></a>&nbsp;&nbsp;
                <a class="" href="@Url.Action("MailruLogin", "OAuth")">
                    <img src="/Content/images/login/mailru.png" alt="Мейл.ру" /></a>
            </p>
            <p>
                <a class="" href="@Url.Action("FacebookLogin", "OAuth")">
                    <img src="/Content/images/login/fb.png" alt="Фейсбук" /></a>&nbsp;&nbsp;
                <a class="" href="@Url.Action("VkontakteLogin", "OAuth")">
                    <img src="/Content/images/login/vk.png" alt="Вконтакте" /></a>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class="span8">
        </div>

    </div>
</div>
