@model gender.Models.ViewModels.User.ChangePasswordView
<fieldset>
    <legend>Сменить пароль</legend>
    @Html.Hidden("ChangePasswordID", Model.ID)
    @if (ViewData["message"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @ViewData["message"]
        </div>
    }
    <div class="control-group">
        <label class="control-label" for="Password">
            Старый пароль
        </label>
        <div class="controls">
            @Html.Password("Password", Model.Password)
            @Html.ValidationMessage("Password")
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="NewPassword">
            Новый пароль
        </label>
        <div class="controls">
            @Html.Password("NewPassword", Model.NewPassword)
            @Html.ValidationMessage("NewPassword")
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ConfirmPassword">
            Новый пароль еще раз
        </label>
        <div class="controls">
            @Html.Password("ConfirmPassword", Model.ConfirmPassword)
            @Html.ValidationMessage("ConfirmPassword")
        </div>
        <button type="submit" class="btn btn-primary" id="ChangePasswordBtn">
            Сменить
        </button>
    </div>
</fieldset>
