<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Пользователи</li>
            <li>@Html.ActionLink("Пользователи", "Index", "User")</li>
            <li>@Html.ActionLink("Блоги", "Index", "Blog")</li>
            <li>@Html.ActionLink("Все посты", "Posts", "Blog")</li>
            <li class="nav-header">Темы</li>
            <li>@Html.ActionLink("Страны и регионы", "Index", "Region")</li>
            <li>@Html.ActionLink("Темы", "Index", "Subject")</li>
            <li class="nav-header">Карточки</li>
            <li>@Html.ActionLink("Люди", "Index", "Person")</li>
            <li>@Html.ActionLink("Документы", "Index", "Document")</li>
            <li>@Html.ActionLink("События", "Index", "Event")</li>
            <li>@Html.ActionLink("Изображения", "Index", "Image")</li>
            <li>@Html.ActionLink("Организации", "Index", "Organization")</li>
            <li>@Html.ActionLink("Публикации", "Index", "Publication")</li>
            <li>@Html.ActionLink("Учебные материалы", "Index", "StudyMaterial")</li>
            <li>@Html.ActionLink("Веб-ресурсы", "Index", "WebLink")</li>
            <li>@Html.ActionLink("Статьи в глоссарии", "Index", "Article")</li>
            <li>
                <a href="@Url.Action("Index", "Moderate")">Модерация @Html.Action("Count", "Moderate")</a>
            </li>
            <li class="nav-header">Редиректы</li>
            <li>@Html.ActionLink("Обычные", "Index", "Redirect")</li>
            <li>@Html.ActionLink("Для карточек", "Index", "RecordRedirect")</li>
             <li class="nav-header">Страницы</li>
            <li>@Html.ActionLink("Страницы", "Index", "Page")</li>
            <li>@Html.ActionLink("Шаблон рассылки", "Index", "SubscriptionTemplate")</li>
            <li>@Html.ActionLink("Рассылка", "Index", "Distribution")</li>
        </ul>
    </div>
</div>