@model gender.Model.PageableData<gender.Model.WebLink>

@{
    ViewBag.Title = "Веб-ресурсы";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((gender.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

<div class="container">
    <div class="row">
        <div class="span8">
            <h3 class="section-header"><i class="icon-globe"></i>&nbsp;Веб-ресурсы</h3>
            @Html.Action("Short", "Home", new { url = "web-links-short" })
            @if (currentUser != null && currentUser.CanCreateWebLink())
            {
                <p>
                    <a href="@Url.Action("Create", "WebLink")" class="btn btn-primary">Добавить веб-ресурс</a>
                </p>
            }
            @{
                int i = 0;
            }
            <div class="row">
                @foreach (var item in Model.List)
                {
                    @Html.Partial("WebLinkShort", item)
                    i++;
                    if (i % 2 == 0)
                    {
                        <div class="clearfix"></div>
                    }
                }
            </div>
            <div class="clearfix"></div>
            <div class="pagination pagination-centered">
                @Html.PageLinksBootstrap(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { page = x }))
            </div>
        </div>
        <!--noindex-->
        <div class="span4">
            <h3 class='section-header'>Навигация</h3>
            <div class="nav-section">
                @Html.Partial("NavigationSection")
                @Html.Action("NavigationSubject", "Home")
                @Html.Action("NavigationRegion", "Home")
            </div>
        </div>
        <!--/noindex-->
    </div>
</div>
