@{
    ViewBag.Title = "Документы";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((gender.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}


<div class="container">
    <div class="row">
        <div class="span8">
            <h3 class='section-header'><i class="icon-file"></i>&nbsp;Документы</h3>
            @Html.Action("Short", "Home", new {url = "documents-short" })
            @if (currentUser != null && currentUser.CanCreateDocument())
            {
                <p>
                    <a href="@Url.Action("Create", "Document")" class="btn btn-primary">Добавить документ</a>
                </p>
            }
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#world" data-toggle="tab">Международные организации</a>
                </li>
                <li>
                    <a href="#russia" data-toggle="tab">Россия</a>
                </li>
                <li class="visible-desktop">
                    <a href="#other" data-toggle="tab">Другие страны</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="world">
                    @Html.Action("List", "Document", new { type = (int)gender.Model.Organization.Type.World })
                </div>
                <div class="tab-pane" id="russia">
                    @Html.Action("List", "Document", new { type = (int)gender.Model.Organization.Type.Russia })
                </div>
                <div class="tab-pane" id="other">
                    @Html.Action("List", "Document", new { type = (int)gender.Model.Organization.Type.Other })
                </div>
            </div>
        </div>
        <div class="span4">
            <h3 class='section-header'>Навигация</h3>

            <div class="nav-section">
                @Html.Partial("NavigationSection")
                @Html.Action("NavigationSubject", "Home")
                @Html.Action("NavigationRegion", "Home")
            </div>
        </div>
    </div>

</div>
