@model gender.Model.PageableData<gender.Model.UpdateRecord>
@{
    ViewBag.Title = "Активность";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="span8">
            <h3 class="section-header"><i class="icon-refresh"></i>&nbsp;Последние обновления
            </h3>
            @Html.Action("Short", "Home", new { url = "update-records-short" })
            <div class="white-card">
                <ul>
                    @foreach (var item in Model.List)
                    {
                        <li>
                            @item.AddedDate.ToString("dd.MM.yy") | 
                            @if (item.UserID.HasValue)
                            {
                                if (item.Type != (int)gender.Model.UpdateRecord.TypeEnum.NewUser)
                                {
                                <text><a href="@Url.Action("Item", "Person", new { url = item.User.Person.Url })">@item.User.Person.FullName</a>
                                &mdash;</text>
                                }
                            }
                            @item.ShortDesc
                            <i class="icon-@item.Icon gray"></i>
                            <a href="@item.Link">@item.NameLink</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="pagination pagination-centered">
                @Html.PageLinksBootstrap(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { page = x }))
            </div>
        </div>
        <div class="span4">
            <h3 class='section-header'>Навигация</h3>
            <div class="nav-section">
                @Html.Partial("NavigationSection")
                @Html.Action("NavigationSubject", "Home")
                @Html.Action("NavigationRegion", "Home")
            </div>
        </div>
    </div>
</div>
