@model gender.Model.Organization

@{
    ViewBag.Title = "Участники " + Model.Name;
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var currentUser = ((gender.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}

<div class="container">
    <div class="row">
        <div class="span12">
            <h3 class="section-header"><i class="icon-group"></i>&nbsp;<a href="@Url.Action("Index", "Organization")">Организации</a>
            </h3>
        </div>
        <div class="span8">
            @Html.Partial("OrganizationInfo", Model)
            <ul class="nav nav-tabs" id="myTab">
                <li>
                    <a title="Инфо" href="@Url.Action("Item", "Organization", new { url = Model.Url })"><i class="icon-info">
                    </i></a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Organization", "Person", new { url = Model.Url })">Участники&nbsp;<span
                        class="label label-inverse">+@Model.PersonsCount</span></a>
                </li>
                <li>
                    <a title="События" href="@Url.Action("Organization", "Event", new { url = Model.Url })"><i class="icon-flag">
                    </i>&nbsp;<span class="label label-inverse">+@Model.EventsCount</span></a>
                </li>
                <li>
                    <a title="Публикации" href="@Url.Action("Organization", "Publication", new { url = Model.Url })"><i
                        class="icon-book"></i>&nbsp;<span class="label label-inverse">+@Model.PublicationsCount</span></a>
                </li>
                <li>
                    <a title="Учебные материалы" href="@Url.Action("Organization", "StudyMaterial", new { url = Model.Url })"><i
                        class="icon-briefcase"></i>&nbsp;<span class="label label-inverse">+@Model.StudyMaterialsCount</span></a>
                </li>
                @if (currentUser != null && currentUser.CanEdit(Model)) 
                {
                <li>
                    <a title="Настройки" href="@Url.Action("Setting", "Organization", new { url = Model.Url })"><i class="icon-cogs">
                    </i></a>
                </li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    @if (Model.SubModeratedPersons.Any())
                    {
                        foreach (var current in Model.SubModeratedPersons.ToList().OrderBy(p => p.FullName))
                        {
                        @Html.Partial("UserInfoOrganization", current)
                        }
                    }
                </div>
            </div>
        </div>
        <div class="span4">
            @Html.Partial("OrganizationRightPart", Model)
        </div>
    </div>
</div>
