<div class="blog-side-bar clearfix">
    <div class="blog-categories widget-tp">
        <h3>
            <i class="icon-th gray"></i>&nbsp;Разделы
        </h3>

        <div class="white-card">
            <a href="@Url.Action("Index", "Subject")"><i class="icon-tags"></i>
                <br />
                Темы
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Region")"><i class="icon-map-marker"></i>
                <br />
                Страны и регионы
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Person")"><i class="icon-user"></i>
                <br />
                Люди
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Organization")"><i class="icon-group"></i>
                <br />
                Организации
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Document")"><i class="icon-file"></i>
                <br />
                Документы
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Publication")"><i class="icon-book"></i>
                <br />
                Публикации
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "StudyMaterial")"><i class="icon-briefcase"></i>
                <br />
                Учебные материалы
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Event")"><i class="icon-flag"></i>
                <br />
                События
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "WebLink")"><i class="icon-globe"></i>
                <br />
                Веб-ресурсы
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Image")"><i class="icon-picture"></i>
                <br />
                Изображения
            </a>
        </div>
        <div class="white-card">
            <a href="@Url.Action("Index", "Blog")"><i class="icon-comment-alt"></i>
                <br />
                Блоги
            </a>
        </div>

        <div class="white-card">
            <a href="@Url.Action("Index", "Article")"><i class="icon-bookmark"></i>
                <br />
                Глоссарий
            </a>
        </div>
    </div>
</div>

