@model gender.Model.Organization
@{
    var currentUser = ((gender.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="single-post-w">
    <div class="row clearfix">
        <div class="span2">
            @if (!string.IsNullOrWhiteSpace(Model.Logo))
            {
                <div class="white-card">
                    <img src="@Model.Logo" alt="@Model.Name" />
                </div>
            }
            else
            {
                <div class="white-card">
                    <i class="icon-group big"></i>
                </div>
            }
        </div>
        <div class="span5">
            @if (!Model.ModeratedDate.HasValue)
            {
                <div class="value label label-info">Страница на модерации!</div><p>&nbsp;</p>
            }
            <h2 class="post-title">
                @Model.Name
                @if (currentUser != null && currentUser.CanEdit(Model))
                {
                    <a href="@Url.Action("Edit", "Organization", new { id = Model.ID })">
                        <sup><i class="icon-edit"></i></sup>
                    </a>
                }

                @if (currentUser != null && currentUser.CanDelete(Model))
                {
                    <a href="@Url.Action("Delete", "Organization", new { id = Model.ID })">
                        <sup><i class="icon-remove delete-action"></i></sup>
                    </a>
                }
            </h2>
            <div class="clearfix">
            </div>
            @if (Model.SubRegions.Any())
            {
                <p>
                    @foreach (var item in Model.SubRegions)
                    {
                        <span>
                            <i class="icon-map-marker"></i>&nbsp;
                            <a href="@Url.Action("Item", "Region", new { path = item.FullUrl })">@item.Name</a>
                        </span>
                    }
                </p>
            }
        </div>
    </div>
</div>
<div class="white-card organization-like-wrapper">
    @Html.Partial("OrganizationLike", Model)
</div>
